@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --main-bg: #666;
  --second-bg: #fff;
}

body {
  align-items: center;
  background-color: var(--main-bg);
  display: grid;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  justify-content: center;
  height: 80vh;
}

.main-text {
  color: #fff;
  text-align: center;
  margin-top: 100px;
}

.calculator-container {
  align-items: center;
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-gap: 4vh;
  justify-content: center;
  place-self: center center;
}

.screen-container {
  align-items: center;
  background-color: var(--second-bg);
  border: 3px solid #0b298b;
  border-radius: 15px;
  box-sizing: border-box;
  display: grid;
  height: 80px;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
}

.type-container {
  display: grid;
  grid-row-gap: 2vh;
  grid-template: repeat(5, 100px) / repeat(4, 100px);
  grid-template-areas:
    "ac-container percent-container divide-container return-container "
    "seven-container eight-container nine-container multiply-container "
    "four-container five-container six-container minus-container "
    "one-container two-container three-container plus-container "
    "zero-container comma-container equal-container equal-container ";
}

.key-container {
  align-items: center;
  display: grid;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.key {
  align-items: center;
  background-color: var(--second-bg);
  border: 3px solid #0b298b;
  border-radius: 50%;
  cursor: pointer;
  display: grid;
  height: 80px;
  justify-content: center;
  width: 80px;
}

.ac-container {
  grid-area: ac-container;
}
.percent-container {
  grid-area: percent-container;
}
.divide-container {
  grid-area: divide-container;
}
.return-container {
  grid-area: return-container;
}
.seven-container {
  grid-area: seven-container;
}
.eight-container {
  grid-area: eight-container;
}
.nine-container {
  grid-area: nine-container;
}
.multiply-container {
  grid-area: multiply-container;
}
.four-container {
  grid-area: four-container;
}
.five-container {
  grid-area: five-container;
}
.six-container {
  grid-area: six-container;
}
.minus-container {
  grid-area: minus-container;
}
.one-container {
  grid-area: one-container;
}
.two-container {
  grid-area: two-container;
}
.three-container {
  grid-area: three-container;
}
.plus-container {
  grid-area: plus-container;
}
.zero-container {
  grid-area: zero-container;
}
.comma-container {
  grid-area: comma-container;
}
.equal-container {
  grid-area: equal-container;
}
.big-equal-key {
  width: 14vh;
}
